.login-link {
    color: #549c86;  
}

.login-link:hover {
    color: #40826D !important; 
}

.login-button {
    background-color: #40826D; 
    border-color: #40826D; 
    box-shadow: 0 0.5rem 1rem rgba(62, 148, 126, 0.15);  
}

.login-button:hover {
    background-color: #1b4b3c;  
    border-color: #1b4b3c;  
}

.main-cont {
    margin-top: 5rem !important;
}
