/* register.css */
.login-link {
    color: #549c86; /* Change the color of the text */
}

.login-link:hover {
    color: #40826D !important; /* Change the hover color */
}

.register-button {
    background-color: #40826D; /* Default background color */
    border-color: #40826D; /* Default border color */
    box-shadow: 0 0.5rem 1rem rgba(62, 148, 126, 0.15); /* Default box shadow */
}


.register-button:hover {
    background-color: #1b4b3c; /* Change background color on hover */
    border-color: #1b4b3c; /* Change border color on hover */
}

.main-cont{
    margin-top: 5rem !important;;
}