

.movie-name-heading{
    font-size: 12px !important;
}


/* MovieCard.css */
.custom-card {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Adjust margin to decrease space between cards */
  }
  
  .custom-card-spacing {
    margin-bottom: 20px; /* Adjust margin bottom as needed */
  }
  
