.login-link {
    color: #549c86; /* Change the color of the text */
}

.login-link:hover {
    color: #40826D !important; /* Change the hover color */
}

.submit-btn-review {
    background-color: #40826D; /* Default background color */
    border-color: #40826D; /* Default border color */
    box-shadow: 0 0.5rem 1rem rgba(62, 148, 126, 0.15); /* Default box shadow */
    color:#e2e2e2;
}

.submit-btn-review:hover {
    background-color: #1b4b3c; /* Change background color on hover */
    border-color: #1b4b3c; 
    color:#e2e2e2;
}

.review-p,.review-p2{

    color:#2f2f2f;
}
.review-p2{
    font-weight: bolder;
}


.review-container{
    background-color: rgba(51, 139, 95, 0.26)

}