

.movie-name-heading{
    font-size: 12px !important;
}


 .custom-card {
    width: 200px;  
    height: auto; 
    margin: 0 10px; 
  }
  
  .custom-card-spacing {
    margin-bottom: 20px; /* Adjust margin bottom as needed */
  }
  
